{% extends "templates/base.html" %}

{% block title %}Aggregating Predictions for the General Election: {{ name }}{% endblock %}

{% block content %}
<h1 class="my-3">{{ name }}</h1>

<p><a href="../..">Back to constituency list</a></p>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Party</th>
	    {% for header in constituency_details[0][1:] %}
            <th class="text-center">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in constituency_details[1:] %}
        <tr>
            <td class="party-{{ row[0] }}">{{ row[0] }}</td>
            {% for item in row[1:] %}
            <td class="text-center">{{ item|round|int }}%</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
