{% extends "templates/base.html" %}

{% block title %}Aggregating Predictions for the General Election: {{ name }}{% endblock %}
{% block extracss %}
<style>
table th:nth-child(n+1),
table td:nth-child(n+1) {
    width: 10%;
}
</style>
{% endblock %}

{% block content %}
<h1 class="my-3">{{ name }}</h1>

<p><a href="../..">Back to constituency list</a></p>

<table class="table table-sm">
    <thead>
        <tr>
            <th class="text-center">Party</th>
            {% for m in models %}
            <th class="text-center">{{ model_map[m]['title'] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td class="party-{{ row[0]['party'] }} text-center">{{ row[0]['party'] }}</td>
            {% for item in row %}
	    <td class="text-center{% if item['class'] %} {{ item['class'] }}{% endif %}">{% if item['share'] == '?' %}?{% else %}{{ item['share']|round(1) }}%{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><a href="https://whocanivotefor.co.uk/elections/{{ demo_club_code }}" target="_blank">View candidates</a></p>
{% endblock %}
