{% extends "templates/base.html" %}

{% block title %}Aggregating Predictions for the General Election{% endblock %}

{% block extracss %}
<style>
table#summary th:nth-child(n+1),
table#summary td:nth-child(n+1) {
    width: 10%;
}
table#constituencies th:nth-child(n+3),
table#constituencies td:nth-child(n+3) {
    width: 10%;
}
</style>
{% endblock %}

{% block content %}
<h1 class="my-3">Aggregating Predictions for the General Election</h1>

<div class="alert alert-primary mt-3" role="alert">New: <a href="tactical-voting/">compare tactical voting recommendations</a>!</div>

<p>This site aggregates constituency-level predictions for the 2024 British general election.</p>

<p>Data is taken from:<p>
<ul>
	<li><a href="https://sotn.newstatesman.com/2024/05/britainpredicts">Britain Predicts (New Statesman)</a> (22 June)</li>
	<li><a href="https://www.economist.com/interactive/uk-general-election/forecast">The Economist</a> (24 June)</li>
	<li><a href="https://www.electoralcalculus.co.uk/dynamicmap.html">Electoral Calculus</a> (23 Jun)</li>
	<li><a href="https://www.focaldata.com/blog/focaldata-prolific-uk-general-election-mrp">Focaldata</a> (24 June)</li>
	<li><a href="https://ig.ft.com/uk-general-election/2024/projection/">The FT</a> (21 June)</li>
	<li><a href="https://www.ipsos.com/en-uk/uk-opinion-polls/ipsos-election-mrp">Ipsos</a> (18 June)</li>
	<li><a href="https://www.moreincommon.org.uk/general-election-2024/mrp/">More in Common</a> (19 June)</li>
	<li><a href="https://savanta.com/knowledge-centre/press-and-polls/mrp-model-daily-telegraph-19-june-2024/">Savanta</a> (19 June)</li>
	<li><a href="https://www.survation.com/survation-mrp-labour-set-for-record-breaking-majority/">Survation</a> (16 June)</li>
	<li><a href="https://yougov.co.uk/politics/articles/49809">YouGov</a> (19 June)</li>
</ul>

<p>Source code <a href="https://github.com/inglesp/apogee">on GitHub</a>.</p>

<p>Thrown together by <a href="https://github.com/inglesp">Peter Inglesby</a>.  Drop me a line: <a href="mailto:peter.inglesby@gmail.com">peter.inglesby@gmail.com</a>!</p>

<h2 class="mt-5">Summary</h2>

<p>This summary shows, for each model and each party, the number of seats where that party is predicted to get the most votes.</p>

<p>Note that these totals are indicative of how the parties' level of support from each model's prediction, but won't match the number of seats predicted by each model.</p>

<p>To understand why, imagine two parties and ten constituencies, where a model predicts that party X will get more votes than party Y, and assigns party X a 90% chance of winning.  In this case, the model may predict that X will win nine seats and Y one.  However, in this summary, we will instead show X with ten and Y with none.</p>

<table id="summary" class="table table-sm">
    <thead>
        <tr>
            <th></th>
            {% for header in summary[0][1:] %}
            <th class="text-center">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in summary[1:] %}
        <tr>
            {% for item in row %}
            <td class="text-center party-{{ row[0] }}">{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="mt-5">Constituencies</h2>

<div class="row mb-3">
    <div class="col-12 col-lg-6">
        <div>Filter by 2019</div>

        <div class="btn-group" role="group">
        {% for party in parties %}
            <input type="checkbox" class="btn-check filter-2019" id="filter-2019-{{ party }}">
            <label class="btn btn-outline-secondary" for="filter-2019-{{ party }}">{{ party }}</label>
        {% endfor %}
        </div>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-lg-end">
        <div>
            <div>Filter by 2024 prediction</div>

            <div class="btn-group" role="group">
                {% for party in parties %}
                <input type="checkbox" class="btn-check filter-2024" id="filter-2024-{{ party }}">
                <label class="btn btn-outline-secondary" for="filter-2024-{{ party }}">{{ party }}</label>
                {% endfor %}
            </div>

            <div class="btn-group" role="group">
                <input type="radio" class="btn-check filter-prediction-type" name="prediction-type" id="prediction-type-all" checked>
                <label class="btn btn-outline-secondary" for="prediction-type-all">All</label>

                <input type="radio" class="btn-check filter-prediction-type" name="prediction-type" id="prediction-type-any">
                <label class="btn btn-outline-secondary" for="prediction-type-any">Any</label>

                <input type="radio" class="btn-check filter-prediction-type" name="prediction-type" id="prediction-type-none">
                <label class="btn btn-outline-secondary" for="prediction-type-none">None</label>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <input class="form-control" id="filter-search" placeholder="Search">
    </div>
</div>

<p class="mb-0">Showing <span id="constituencies-summary">all constituencies</span></p>

<table id="constituencies" class="table table-sm">
    <thead>
        <tr>
            <th></th>
            {% for header in predictions[0][1:-1] %}
            <th class="text-center">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in predictions[1:] %}
        <tr data-2019="{{ row[2] }}" data-2024="{{ row[3:-1]|unique|sort|join(',') }}">
            <td>{{ row[0] }}</td>
            <td><a href="constituencies/{{ row[0] }}">{{ row[1] }}</a></td>
            <td class="text-center border-end party-{{ row[2] }}">{{ row[2] }}</td>
            {% for item in row[3:-1] %}
            <td class="text-center party-{{ item }}">{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extrajs %}
<script>
    // forgive my javascript: I am in a tent with no access to StackOverflow

    document.addEventListener('DOMContentLoaded', (event) => {
        const parties = {{ parties|tojson }};
        const inputSearch = document.getElementById('filter-search');
        const checkboxes2019 = document.querySelectorAll('.filter-2019');
        const checkboxes2024 = document.querySelectorAll('.filter-2024');
        const radiosPredictionType = document.querySelectorAll('.filter-prediction-type');
        const tableRows = document.querySelectorAll('table#constituencies > tbody > tr');

        function loadState() {
            const url = new URL(window.location);

            if (url.searchParams.get('search')) {
                inputSearch.value = url.searchParams.get('search');
            }

            if (url.searchParams.get('2019')) {
                const params2019 = url.searchParams.get('2019').split(',');
                for (let i = 0; i < parties.length; i++) {
                    if (params2019.includes(parties[i])) {
                        checkboxes2019[i].checked = true;
                    }
                }
            }
            if (url.searchParams.get('2024')) {
                const params2024 = url.searchParams.get('2024').split(',');
                for (let i = 0; i < parties.length; i++) {
                    if (params2024.includes(parties[i])) {
                        checkboxes2024[i].checked = true;
                    }
                }
            }
            if (url.searchParams.get('prediction-type')) {
                if (url.searchParams.get('prediction-type') == 'all') {
                    document.getElementById('prediction-type-all').checked = true;
                } else if (url.searchParams.get('prediction-type') == 'any') {
                    document.getElementById('prediction-type-any').checked = true;
                } else {
                    document.getElementById('prediction-type-none').checked = true;
                }
            }
        }

        function update() {
            let state = {
                'search': inputSearch.value.toLowerCase(),
                '2019': [],
                '2024': [],
                'predictionType': document.getElementById('prediction-type-all').checked ? 'all' : (document.getElementById('prediction-type-any').checked ? 'any' : 'none'),
            };
            for (let i = 0; i < parties.length; i++) {
                if (checkboxes2019[i].checked) {
                    state['2019'].push(parties[i]);
                }
                if (checkboxes2024[i].checked) {
                    state['2024'].push(parties[i]);
                }
            }

            tableRows.forEach((tr) => {
                tr.style.display = showRow(tr, state) ? '' : 'none';
            })

            const nRows = tableRows.length;
            let nRowsShown = 0;
            for (let i = 0; i < tableRows.length; i++) {
                if (tableRows[i].style.display == '') {
                    nRowsShown++;
                }
            }

            if (nRowsShown == nRows) {
                document.getElementById('constituencies-summary').textContent = `all ${nRows} constituencies`;
            } else if (nRowsShown == 1) {
                document.getElementById('constituencies-summary').textContent = '1 matching constituency';
            } else {
                document.getElementById('constituencies-summary').textContent = `${nRowsShown} matching constituencies`;
            }

            let newUrl = new URL(window.location);

            if (state['search'] == '') {
                newUrl.searchParams.delete('search');
                if (newUrl.toString() != window.location) {
                    window.history.replaceState({}, '', newUrl);
                }
            } else if (state['search'] != (newUrl.searchParams.get('search') | '')) {
                newUrl.searchParams.set('search', state['search']);
                window.history.replaceState({}, '', newUrl);
            }

            if (state['2019'].length > 0) {
                newUrl.searchParams.set('2019', state['2019'].join(','));
            } else {
                newUrl.searchParams.delete('2019');
            }
            if (state['2024'].length > 0) {
                newUrl.searchParams.set('2024', state['2024'].join(','));
            } else {
                newUrl.searchParams.delete('2024');
            }
            if (state['predictionType'] == 'all') {
                newUrl.searchParams.delete('prediction-type');
            } else {
                newUrl.searchParams.set('prediction-type', state['predictionType']);
            }
            if (newUrl.toString() != window.location) {
                window.history.pushState({}, '', newUrl);
            }
        }

        function showRow(tr, state) {
            const dataset = tr.dataset;
            const parties2019 = state['2019'];
            const parties2024 = state['2024'];

            if (state['search'] != '') {
                const code = tr.getElementsByTagName('td')[0].textContent.toLowerCase();
                const name = tr.getElementsByTagName('td')[1].textContent.toLowerCase();
                if (!code.includes(state['search']) & !(name.includes(state['search']))) {
                    return false;
                }
            }

            if (parties2019.length > 0) {
                if (!parties2019.includes(dataset['2019'])) {
                    return false;
                }
            }
            if (parties2024.length > 0) {
                if (state['predictionType'] == 'all') {
                    if (parties2024.join(',') != dataset['2024']) {
                        return false;
                    }
                } else if (state['predictionType'] == 'any') {
                    if (!parties2024.every(party => dataset['2024'].split(',').includes(party))) {
                        return false;
                    }
                } else {
                    if (parties2024.some(party => dataset['2024'].split(',').includes(party))) {
                        return false;
                    }
                }
            }
            return true;
        }

        inputSearch.addEventListener('keyup', update);
        checkboxes2019.forEach(cb => {
            cb.addEventListener('change', update);
        });
        checkboxes2024.forEach(cb => {
            cb.addEventListener('change', update);
        });
        radiosPredictionType.forEach(r => {
            r.addEventListener('change', update);
        });

        loadState();
        update();
    });
</script>
{% endblock %}
