{% extends "templates/base.html" %}

{% block title %}Aggregating Predictions for the General Election{% endblock %}

{% block extracss %}
<style>
table#constituencies th:nth-child(n+3),
table#constituencies td:nth-child(n+3) {
    width: 10%;
}
</style>
{% endblock %}

{% block content %}
<h1 class="my-3">Aggregating Predictions for the General Election</h1>

<p>This site aggregates constituency-level predictions for the 2024 British general election.</p>

<p>Data is taken from:<p>
<ul>
	<li><a href="https://sotn.newstatesman.com/2024/05/britainpredicts">Britain Predicts (New Statesman)</a> (8 June)</li>
	<li><a href="https://www.electoralcalculus.co.uk/dynamicmap.html">Electoral Calculus</a> (11 Jun)</li>
	<li><a href="https://www.economist.com/interactive/uk-general-election/forecast">The Economist</a> (11 June)</li>
	<li><a href="https://ig.ft.com/uk-general-election/2024/projection/">The FT</a> (10 June)</li>
	<li><a href="https://www.moreincommon.org.uk/general-election-2024/mrp/">More in Common</a> (3 June)</li>
	<li><a href="https://www.survation.com/survation-mrp-labour-set-for-record-breaking-majority/">Survation</a> (4 June)</li>
	<li><a href="https://yougov.co.uk/politics/articles/49606">YouGov</a> (3 June)</li>
</ul>

<p>Source code <a href="https://github.com/inglesp/apogee">on GitHub</a>.</p>

<p>Thrown together by <a href="https://github.com/inglesp">Peter Inglesby</a>.  Drop me a line: <a href="mailto:peter.inglesby@gmail.com">peter.inglesby@gmail.com</a>!</p>

<h2 class="mt-5">Summary</h2>

<p>This summary shows, for each model and each party, the number of seats where that party is predicted to get the most votes.</p>

<p>Note that these totals are indicative of how the parties' level of support from each model's prediction, but won't match the number of seats predicted by each model.</p>

<p>To understand why, imagine two parties and ten constituencies, where a model predicts that party X will get more votes than party Y, and assigns party X a 90% chance of winning.  In this case, the model may predict that X will win nine seats and Y one.  However, in this summary, we will instead show X with ten and Y with none.</p>

<table id="summary" class="table table-sm">
    <thead>
        <tr>
            <th></th>
	    {% for header in summary[0][1:] %}
            <th class="text-center">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in summary[1:] %}
	<tr>
            {% for item in row %}
            <td class="text-center party-{{ row[0] }}">{{ item }}</td>
            {% endfor %}
	</tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="mt-5">Constituencies</h2>

<div class="mt-3">
    <button type="button" id="toggle" class="btn btn-primary">Toggle Boring</button>
</div>

<table id="constituencies" class="table table-sm">
    <thead>
        <tr>
            <th></th>
	    {% for header in predictions[0][1:-1] %}
            <th class="text-center">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in predictions[1:] %}
        <tr data-disagreement={{ row[-1] }}>
            <td>{{ row[0] }}</td>
	    <td><a href="constituencies/{{ row[0] }}">{{ row[1] }}</a></td>
	    <td class="text-center border-end party-{{ row[2] }}">{{ row[2] }}</td>
	    {% for item in row[3:-1] %}
	    <td class="text-center party-{{ item }}">{{ item }}</td>
	    {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extrajs %}
<script>
  document.getElementById('toggle').addEventListener('click', () => {
    document.querySelectorAll('tr[data-disagreement="0"]').forEach(row => {
      if (row.style.display === 'none') {
        row.style.display = 'table-row';
      } else {
        row.style.display = 'none';
      }
    });
  });
</script>
{% endblock %}
