{% extends "templates/base.html" %}

{% block title %}Evaluating Predictions for the General Election{% endblock %}

{% block content %}
<h1 class="my-3">Evaluating Predictions for the General Election: 2024 Leaderboard</h1>

<p><a href="..">Back to homepage</a></p>

<p>Using the data we've got, there are several ways we can evaluate the performance of a forecast:</p>

<ul>
    <li>How closely did it predict the overall result?</li>
    <li>How many seats did it predict correctly?</li>
    <li>How accurately did it predict vote shares across all parties across all seats?</li>
</ul>

<p>Why does this matter?  Forecasting sets narratives; and people made decisions based on these forecasts.</p>

<p>Find all the code for this analysis in <a href="https://github.com/inglesp/apogee/blob/main/build_leaderboard.py">build_leaderboard.py</a>.</p>

<div class="row">
    <div class="col-12 col-lg-4 mt-3">
        <h2>Seat totals</h2>
        <div style="height: 8rem">
            <p>How closely did each forecast predict the overall distribution of seats?</p>
            <p>The score is the root mean squared error of the number of seats predicted for each party.</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th class="text-center">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for row in by_seat_totals %}
                <tr>
                    <td><a href="../forecasts/{{ row['model'] }}/">{{ row['title'] }}</a></td>
                    <td class="text-center">{{ row['score']|round(1) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-12 col-lg-4 mt-3">
        <h2>Correct seat calls</h2>
        <div style="height: 8rem">
            <p>How many seats did each forecast predict correctly?</p>
            <p>The score is the percentage of seats that were called correctly.</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th class="text-center">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for row in by_correct_seat_calls %}
                <tr>
                    <td><a href="../forecasts/{{ row['model'] }}/">{{ row['title'] }}</a></td>
		    <td class="text-center">{{ row['score'] }} ({{ (100 * row['score'] / 631)|round(1) }}%)</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-12 col-lg-4 mt-3">
        <h2>Vote share error</h2>
        <div style="height: 8rem">
            <p>How accurately did each forecast predict vote shares across all parties across all seats?</p>
            <p>The score is root mean squared error of the vote shares across all parties across all seats.</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th class="text-center">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for row in by_vote_share_error %}
                <tr>
                    <td><a href="../forecasts/{{ row['model'] }}/">{{ row['title'] }}</a></td>
                    <td class="text-center">{{ row['score']|round(1) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
